<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @label.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @label.kind %>
</p>

<p>
  <b>Project:</b>
  <%= @label.project_id %>
</p>


<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
